*{
    font-family: Verdana,sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    /*box-sizing: border-box;*/
    /*font-size: 100%;*/
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0;
}

.row::after {
    content: "";
    /*display: block;*/
    display: table;
    clear: both;
}
.header{
    height: 30px;
    padding:0;
    margin:0;
    background-color: dimgrey;
    border: 1px solid #CDCDCD;
}

.header ul li{
    padding:0;
    margin:0;
}

.header li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}

.header li a{
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: dimgrey;
    color: white;
}

.header ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

.header li a:hover{
    background-color: black;
}

.header ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}

.header ul li:hover ul{
    visibility: visible;
}

.row{
    min-height: 90vh;
}
.col-2{
    background-color: #CDCDCD;
    text-align: -webkit-center;
}
.col-8{
    background-color: white;
}
.news{
    padding: 15px;
}
.footer{
    text-align: center;
    color: white;
    padding-top: 10px;
    height: 30px;
    background-color: dimgrey;
    border: 1px solid #CDCDCD;
}
.line{
    border: 1px solid gainsboro;
}
.ads{
    background-color: aliceblue;
    border: 1px solid darkgray;
    width: 180px;
    height: 100px;
    margin: 22px;
    text-align: center;
}


@media only screen and (max-width: 1000px) {
    .header{
        background-color: darkgoldenrod;
    }
    [class*="col-"] {
        width: 100%;
    }
}


@media only screen and (max-width: 768px) {
    .header{
        background-color: cadetblue;
    }
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .header{
        background-color: fuchsia;
    }
    [class*="col-"] {
        width: 100%;
    }
}

@media  only screen and (max-width: 360px) {
    .header{
        background-color: aquamarine;
    }
    [class*="col-"] {
        width: 100%;
    }
}